@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;

}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header {
    padding: 30px 0px;
    margin: 0px 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > h1#logo {
    color:  #161616;
    font-size: 1.5em;
    font-weight: 700;
}

header > h1 > img {
    height: 23px;
    cursor: pointer;
}

header > div > img {
    height: 30px;
    margin: 0px 10px;
}

div.produtos-main > img {
    height: 280px;
    width: 280px;
    border-radius: 5px;
}


div#produto-texto-acima {
    padding: 30px 0;
    margin: 0 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section#produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
   
}

div.produtos-main {
    display: flex;
    flex-direction: column;
    padding: 50px;


}

div.produtos-main > h3, p {
    padding-top: 20px;
    color: #161616;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 10px;
}

p > span.green-text {
    color: #5CA720;
}

section.footer {
    padding: 0 60px;
    height: 200px;
    margin-top: 20vh;
}

section > div.footer-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

section > div> ul {
    list-style: none;
    
}

section div > ul > li {
    cursor: pointer;
    padding: 5px 0;
    font-weight: 700;
   
}

input#input-newsletter {
    padding: 8px;
    width: 300px;
    border: none;
}

input[type="submit"] {
    padding: 8px;
    width: 100px;
    border: none;
    background-color: #5CA720;
    color: white;
    border-radius: 3px;
}

footer {
    height: 15vh;
}

footer#sociais-pagamentos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
    margin: 0 40px;
    border-top: 0.4 solid #A5A1A1;
    
}

footer#sociais-pagamentos > div > img {
    height: 35px;
    padding: 10px;
    
   
    
}